<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE generatorConfiguration  
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"  
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">  
<generatorConfiguration>  
      
    <context id="contract" targetRuntime="MyBatis3">  
        <!-- 生成的Java文件的编码 -->
	    <property name="javaFileEncoding" value="UTF-8"/>
	    <!-- 格式化java代码 -->
	    <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
	    <!-- 格式化XML代码 -->
	    <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
	    
    	<plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin" />
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />
        <plugin type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin" />
        <commentGenerator>  
            <property name="suppressDate" value="true"/>  
            <property name="suppressAllComments" value="true"/>  
        </commentGenerator>  
        <!--数据库链接地址账号密码-->  
        <!--  oracle:oracle.jdbc.OracleDriver
        		jdbc:oracle:thin:@10.4.95.26:1521:sumecdev
        	  sqlserver: com.microsoft.sqlserver.jdbc.SQLServerDriver
        	  	jdbc:sqlserver://192.168.0.6:1433;database=ITSDATA;
        	  mysql:com.mysql.jdbc.Driver
        	  	jdbc:mysql://10.4.100.195:3306/sumec_express?useUnicode=true&characterEncoding=utf8&useSSL=false
        	  -->
        <jdbcConnection driverClass="oracle.jdbc.OracleDriver"
         	connectionURL="jdbc:oracle:thin:@10.4.95.26:1521:sumecdev" 
        	userId="michael"
         	password="carton">  
        </jdbcConnection>  
		<javaTypeResolver type="org.mybatis.generator.internal.types.JavaTypeResolverDefaultImpl">
        <!-- 
            true：使用BigDecimal对应DECIMAL和 NUMERIC数据类型
            false：默认,
                scale>0;length>18：使用BigDecimal;
                scale=0;length[10,18]：使用Long；
                scale=0;length[5,9]：使用Integer；
                scale=0;length<5：使用Short；
         -->
        	<property name="forceBigDecimals" value="false"/>
    	</javaTypeResolver>

		
        <!--生成Entity类存放位置-->  
        <javaModelGenerator targetPackage="com.sumec.contract.entity" targetProject="src/main/java">  
       		<!-- 自动为每一个生成的类创建一个构造方法，构造方法包含了所有的field；而不是使用setter； -->
            <property name="constructorBased" value="false" />
            <!-- 在targetPackage的基础上，根据数据库的schema再生成一层package，最终生成的类放在这个package下，默认为false -->
            <property name="enableSubPackages" value="false" />
        	<property name="rootInterface" value="java.io.Serializable"/>
            <!-- 设置是否在getter方法中，对String类型字段调用trim()方法 -->
            <property name="trimStrings" value="false" />  
        </javaModelGenerator>  
        <!--生成映射文件存放位置-->  
        <sqlMapGenerator targetPackage="com.sumec.contract" targetProject="src/main/resources">  
            <property name="enableSubPackages" value="true"/>  
        </sqlMapGenerator>  
        <!--生成Dao类存放位置-->  
        <!-- 客户端代码，生成易于使用的针对Model对象和XML配置文件 的代码  
                type="ANNOTATEDMAPPER",生成Java Model 和基于注解的Mapper对象  
                type="MIXEDMAPPER",生成基于注解的Java Model 和相应的Mapper对象  
                type="XMLMAPPER",生成SQLMap XML文件和独立的Mapper接口  
        -->  
        <javaClientGenerator type="MIXEDMAPPER" targetPackage="com.sumec.contract.dao" targetProject="src/main/java">  
            <property name="enableSubPackages" value="true"/>  
        </javaClientGenerator>  
        <!--生成对应表及类名-->  
        <table tableName="T_EXP_SC_CMD"  enableCountByExample="false"
	        enableUpdateByExample="false" 
	        enableDeleteByExample="false"
		    enableSelectByExample="false" 
		    selectByExampleQueryId="false">
		    <property name="ignoreQualifiersAtRuntime" value="true"/>
       	 	<property name="useActualColumnNames" value="false"/>
       	 	
        </table>  
    </context>  
</generatorConfiguration> 