<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sumec.contract.dao.IExpBcCmdDao">
  <resultMap id="BaseResultMap" type="com.sumec.contract.entity.TExpBcCmd">
    <id column="P_ID" jdbcType="DECIMAL" property="pId" />
    <result column="BC_ID" jdbcType="DECIMAL" property="bcId" />
    <result column="C_NO" jdbcType="VARCHAR" property="cNo" />
    <result column="P_NO" jdbcType="VARCHAR" property="pNo" />
    <result column="P_ORDER" jdbcType="DECIMAL" property="pOrder" />
    <result column="TECH_NO" jdbcType="VARCHAR" property="techNo" />
    <result column="CUSTOMER_NO" jdbcType="VARCHAR" property="customerNo" />
    <result column="BRAND" jdbcType="VARCHAR" property="brand" />
    <result column="P_NAME" jdbcType="VARCHAR" property="pName" />
    <result column="P_DESC" jdbcType="VARCHAR" property="pDesc" />
    <result column="P_UNIT" jdbcType="VARCHAR" property="pUnit" />
    <result column="P_QUANT" jdbcType="DECIMAL" property="pQuant" />
    <result column="TAX_PRICE" jdbcType="DECIMAL" property="taxPrice" />
    <result column="REAL_COST_PRICE" jdbcType="DECIMAL" property="realCostPrice" />
    <result column="P_UNIT2" jdbcType="VARCHAR" property="pUnit2" />
    <result column="P_QUANT2" jdbcType="DECIMAL" property="pQuant2" />
    <result column="TAX_PRICE2" jdbcType="DECIMAL" property="taxPrice2" />
    <result column="TAX_RATE" jdbcType="DECIMAL" property="taxRate" />
    <result column="N_NO" jdbcType="VARCHAR" property="nNo" />
    <result column="DELI_D" jdbcType="TIMESTAMP" property="deliD" />
    <result column="IS_PRICE_FIX" jdbcType="VARCHAR" property="isPriceFix" />
    <result column="PRICE_LIMIT" jdbcType="DECIMAL" property="priceLimit" />
    <result column="FAC_CODE" jdbcType="VARCHAR" property="facCode" />
    <result column="P_PRICE" jdbcType="DECIMAL" property="pPrice" />
    <result column="P_PRICE2" jdbcType="DECIMAL" property="pPrice2" />
    <result column="STANDARD_NO" jdbcType="VARCHAR" property="standardNo" />
    <result column="IS_PROM" jdbcType="VARCHAR" property="isProm" />
    <result column="IS_2UNIT" jdbcType="VARCHAR" property="is2unit" />
    <result column="SUB_ID" jdbcType="DECIMAL" property="subId" />
    <result column="ERP_NO" jdbcType="VARCHAR" property="erpNo" />
    <result column="TREATY_ID" jdbcType="DECIMAL" property="treatyId" />
    <result column="SC_P_ID" jdbcType="DECIMAL" property="scPId" />
    <result column="TREATY_NO" jdbcType="VARCHAR" property="treatyNo" />
    <result column="P_RATE" jdbcType="DECIMAL" property="pRate" />
    <result column="CUT_DATE" jdbcType="TIMESTAMP" property="cutDate" />
    <result column="P_DESC2" jdbcType="VARCHAR" property="pDesc2" />
    <result column="FAC_SEND_QUANT" jdbcType="DECIMAL" property="facSendQuant" />
    <result column="COMM_ID" jdbcType="DECIMAL" property="commId" />
    <result column="PRO_CMD_ID" jdbcType="DECIMAL" property="proCmdId" />
    <result column="PRO_ID" jdbcType="DECIMAL" property="proId" />
    <result column="PRO_TYPE" jdbcType="VARCHAR" property="proType" />
    <result column="CMD_TYPE" jdbcType="VARCHAR" property="cmdType" />
    <result column="N_W" jdbcType="DECIMAL" property="nW" />
    <result column="ET" jdbcType="DECIMAL" property="et" />
    <result column="PCD" jdbcType="VARCHAR" property="pcd" />
    <result column="CB" jdbcType="DECIMAL" property="cb" />
    <result column="COLOR" jdbcType="VARCHAR" property="color" />
    <result column="ITEM_ID" jdbcType="DECIMAL" property="itemId" />
    <result column="FAC_SEND_QUANT2" jdbcType="DECIMAL" property="facSendQuant2" />
    <result column="FROM_TYPE" jdbcType="VARCHAR" property="fromType" />
    <result column="WHEEL_SIZE" jdbcType="DECIMAL" property="wheelSize" />
    <result column="SUMEC_CODE" jdbcType="VARCHAR" property="sumecCode" />
    <result column="COMM_UNIT" jdbcType="DECIMAL" property="commUnit" />
    <result column="COMM_UNIT_PACK" jdbcType="DECIMAL" property="commUnitPack" />
    <result column="COMM_UNIT_STAT" jdbcType="DECIMAL" property="commUnitStat" />
    <result column="COMM_QUANT_STAT" jdbcType="DECIMAL" property="commQuantStat" />
    <result column="PACK_RATE" jdbcType="DECIMAL" property="packRate" />
    <result column="STAT_RATE" jdbcType="DECIMAL" property="statRate" />
    <result column="TARIFF_RATE" jdbcType="DECIMAL" property="tariffRate" />
    <result column="EXCISE_RATE" jdbcType="DECIMAL" property="exciseRate" />
    <result column="OBJ_PRICE" jdbcType="DECIMAL" property="objPrice" />
    <result column="COMM_UNIT2" jdbcType="DECIMAL" property="commUnit2" />
    <result column="COMM_QUANT_PACK" jdbcType="DECIMAL" property="commQuantPack" />
    <result column="INCOME_AMT" jdbcType="DECIMAL" property="incomeAmt" />
    <result column="INCOME_CURR_TYPE" jdbcType="VARCHAR" property="incomeCurrType" />
    <result column="COMM_AMT" jdbcType="DECIMAL" property="commAmt" />
    <result column="IS_LOGI" jdbcType="VARCHAR" property="isLogi" />
    <result column="INCOME_PRICE" jdbcType="DECIMAL" property="incomePrice" />
    <result column="IS_THIRD_INSPECT" jdbcType="VARCHAR" property="isThirdInspect" />
    <result column="HS_CODE" jdbcType="VARCHAR" property="hsCode" />
    <result column="IS_NEED_INSPECT" jdbcType="VARCHAR" property="isNeedInspect" />
    <result column="COMM_NAME_EN" jdbcType="VARCHAR" property="commNameEn" />
  </resultMap>
  <sql id="Base_Column_List">
    P_ID, BC_ID, C_NO, P_NO, P_ORDER, TECH_NO, CUSTOMER_NO, BRAND, P_NAME, P_DESC, P_UNIT, 
    P_QUANT, TAX_PRICE, REAL_COST_PRICE, P_UNIT2, P_QUANT2, TAX_PRICE2, TAX_RATE, N_NO, 
    DELI_D, IS_PRICE_FIX, PRICE_LIMIT, FAC_CODE, P_PRICE, P_PRICE2, STANDARD_NO, IS_PROM, 
    IS_2UNIT, SUB_ID, ERP_NO, TREATY_ID, SC_P_ID, TREATY_NO, P_RATE, CUT_DATE, P_DESC2, 
    FAC_SEND_QUANT, COMM_ID, PRO_CMD_ID, PRO_ID, PRO_TYPE, CMD_TYPE, N_W, ET, PCD, CB, 
    COLOR, ITEM_ID, FAC_SEND_QUANT2, FROM_TYPE, WHEEL_SIZE, SUMEC_CODE, COMM_UNIT, COMM_UNIT_PACK,
    COMM_UNIT_STAT, COMM_QUANT_STAT, PACK_RATE, STAT_RATE, TARIFF_RATE, EXCISE_RATE, 
    OBJ_PRICE, COMM_UNIT2, COMM_QUANT_PACK, INCOME_AMT, INCOME_CURR_TYPE, COMM_AMT, IS_LOGI, 
    INCOME_PRICE, IS_THIRD_INSPECT, HS_CODE, IS_NEED_INSPECT, COMM_NAME_EN
  </sql>
  <insert id="insertSelective" parameterType="com.sumec.contract.entity.TExpBcCmd">
    insert into T_EXP_BC_CMD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        P_ID,
      </if>
      <if test="bcId != null">
        BC_ID,
      </if>
      <if test="cNo != null">
        C_NO,
      </if>
      <if test="pNo != null">
        P_NO,
      </if>
      <if test="pOrder != null">
        P_ORDER,
      </if>
      <if test="techNo != null">
        TECH_NO,
      </if>
      <if test="customerNo != null">
        CUSTOMER_NO,
      </if>
      <if test="brand != null">
        BRAND,
      </if>
      <if test="pName != null">
        P_NAME,
      </if>
      <if test="pDesc != null">
        P_DESC,
      </if>
      <if test="pUnit != null">
        P_UNIT,
      </if>
      <if test="pQuant != null">
        P_QUANT,
      </if>
      <if test="taxPrice != null">
        TAX_PRICE,
      </if>
      <if test="realCostPrice != null">
        REAL_COST_PRICE,
      </if>
      <if test="pUnit2 != null">
        P_UNIT2,
      </if>
      <if test="pQuant2 != null">
        P_QUANT2,
      </if>
      <if test="taxPrice2 != null">
        TAX_PRICE2,
      </if>
      <if test="taxRate != null">
        TAX_RATE,
      </if>
      <if test="nNo != null">
        N_NO,
      </if>
      <if test="deliD != null">
        DELI_D,
      </if>
      <if test="isPriceFix != null">
        IS_PRICE_FIX,
      </if>
      <if test="priceLimit != null">
        PRICE_LIMIT,
      </if>
      <if test="facCode != null">
        FAC_CODE,
      </if>
      <if test="pPrice != null">
        P_PRICE,
      </if>
      <if test="pPrice2 != null">
        P_PRICE2,
      </if>
      <if test="standardNo != null">
        STANDARD_NO,
      </if>
      <if test="isProm != null">
        IS_PROM,
      </if>
      <if test="is2unit != null">
        IS_2UNIT,
      </if>
      <if test="subId != null">
        SUB_ID,
      </if>
      <if test="erpNo != null">
        ERP_NO,
      </if>
      <if test="treatyId != null">
        TREATY_ID,
      </if>
      <if test="scPId != null">
        SC_P_ID,
      </if>
      <if test="treatyNo != null">
        TREATY_NO,
      </if>
      <if test="pRate != null">
        P_RATE,
      </if>
      <if test="cutDate != null">
        CUT_DATE,
      </if>
      <if test="pDesc2 != null">
        P_DESC2,
      </if>
      <if test="facSendQuant != null">
        FAC_SEND_QUANT,
      </if>
      <if test="commId != null">
        COMM_ID,
      </if>
      <if test="proCmdId != null">
        PRO_CMD_ID,
      </if>
      <if test="proId != null">
        PRO_ID,
      </if>
      <if test="proType != null">
        PRO_TYPE,
      </if>
      <if test="cmdType != null">
        CMD_TYPE,
      </if>
      <if test="nW != null">
        N_W,
      </if>
      <if test="et != null">
        ET,
      </if>
      <if test="pcd != null">
        PCD,
      </if>
      <if test="cb != null">
        CB,
      </if>
      <if test="color != null">
        COLOR,
      </if>
      <if test="itemId != null">
        ITEM_ID,
      </if>
      <if test="facSendQuant2 != null">
        FAC_SEND_QUANT2,
      </if>
      <if test="fromType != null">
        FROM_TYPE,
      </if>
      <if test="wheelSize != null">
        WHEEL_SIZE,
      </if>
      <if test="sumecCode != null">
        SUMEC_CODE,
      </if>

      <if test="commUnit != null">
        COMM_UNIT,
      </if>
      <if test="commUnitPack != null">
        COMM_UNIT_PACK,
      </if>
      <if test="commUnitStat != null">
        COMM_UNIT_STAT,
      </if>
      <if test="commQuantStat != null">
        COMM_QUANT_STAT,
      </if>
      <if test="packRate != null">
        PACK_RATE,
      </if>
      <if test="statRate != null">
        STAT_RATE,
      </if>
      <if test="tariffRate != null">
        TARIFF_RATE,
      </if>
      <if test="exciseRate != null">
        EXCISE_RATE,
      </if>
      <if test="objPrice != null">
        OBJ_PRICE,
      </if>
      <if test="commUnit2 != null">
        COMM_UNIT2,
      </if>
      <if test="commQuantPack != null">
        COMM_QUANT_PACK,
      </if>
      <if test="incomeAmt != null">
        INCOME_AMT,
      </if>
      <if test="incomeCurrType != null">
        INCOME_CURR_TYPE,
      </if>
      <if test="commAmt != null">
        COMM_AMT,
      </if>
      <if test="isLogi != null">
        IS_LOGI,
      </if>
      <if test="incomePrice != null">
        INCOME_PRICE,
      </if>
      <if test="isThirdInspect != null">
        IS_THIRD_INSPECT,
      </if>
      <if test="hsCode != null">
        HS_CODE,
      </if>
      <if test="isNeedInspect != null">
        IS_NEED_INSPECT,
      </if>
      <if test="commNameEn != null">
        COMM_NAME_EN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        #{pId,jdbcType=DECIMAL},
      </if>
      <if test="bcId != null">
        #{bcId,jdbcType=DECIMAL},
      </if>
      <if test="cNo != null">
        #{cNo,jdbcType=VARCHAR},
      </if>
      <if test="pNo != null">
        #{pNo,jdbcType=VARCHAR},
      </if>
      <if test="pOrder != null">
        #{pOrder,jdbcType=DECIMAL},
      </if>
      <if test="techNo != null">
        #{techNo,jdbcType=VARCHAR},
      </if>
      <if test="customerNo != null">
        #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="pName != null">
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pDesc != null">
        #{pDesc,jdbcType=VARCHAR},
      </if>
      <if test="pUnit != null">
        #{pUnit,jdbcType=VARCHAR},
      </if>
      <if test="pQuant != null">
        #{pQuant,jdbcType=DECIMAL},
      </if>
      <if test="taxPrice != null">
        #{taxPrice,jdbcType=DECIMAL},
      </if>
      <if test="realCostPrice != null">
        #{realCostPrice,jdbcType=DECIMAL},
      </if>
      <if test="pUnit2 != null">
        #{pUnit2,jdbcType=VARCHAR},
      </if>
      <if test="pQuant2 != null">
        #{pQuant2,jdbcType=DECIMAL},
      </if>
      <if test="taxPrice2 != null">
        #{taxPrice2,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null">
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="nNo != null">
        #{nNo,jdbcType=VARCHAR},
      </if>
      <if test="deliD != null">
        #{deliD,jdbcType=TIMESTAMP},
      </if>
      <if test="isPriceFix != null">
        #{isPriceFix,jdbcType=VARCHAR},
      </if>
      <if test="priceLimit != null">
        #{priceLimit,jdbcType=DECIMAL},
      </if>
      <if test="facCode != null">
        #{facCode,jdbcType=VARCHAR},
      </if>
      <if test="pPrice != null">
        #{pPrice,jdbcType=DECIMAL},
      </if>
      <if test="pPrice2 != null">
        #{pPrice2,jdbcType=DECIMAL},
      </if>
      <if test="standardNo != null">
        #{standardNo,jdbcType=VARCHAR},
      </if>
      <if test="isProm != null">
        #{isProm,jdbcType=VARCHAR},
      </if>
      <if test="is2unit != null">
        #{is2unit,jdbcType=VARCHAR},
      </if>
      <if test="subId != null">
        #{subId,jdbcType=DECIMAL},
      </if>
      <if test="erpNo != null">
        #{erpNo,jdbcType=VARCHAR},
      </if>
      <if test="treatyId != null">
        #{treatyId,jdbcType=DECIMAL},
      </if>
      <if test="scPId != null">
        #{scPId,jdbcType=DECIMAL},
      </if>
      <if test="treatyNo != null">
        #{treatyNo,jdbcType=VARCHAR},
      </if>
      <if test="pRate != null">
        #{pRate,jdbcType=DECIMAL},
      </if>
      <if test="cutDate != null">
        #{cutDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pDesc2 != null">
        #{pDesc2,jdbcType=VARCHAR},
      </if>
      <if test="facSendQuant != null">
        #{facSendQuant,jdbcType=DECIMAL},
      </if>
      <if test="commId != null">
        #{commId,jdbcType=DECIMAL},
      </if>
      <if test="proCmdId != null">
        #{proCmdId,jdbcType=DECIMAL},
      </if>
      <if test="proId != null">
        #{proId,jdbcType=DECIMAL},
      </if>
      <if test="proType != null">
        #{proType,jdbcType=VARCHAR},
      </if>
      <if test="cmdType != null">
        #{cmdType,jdbcType=VARCHAR},
      </if>
      <if test="nW != null">
        #{nW,jdbcType=DECIMAL},
      </if>
      <if test="et != null">
        #{et,jdbcType=DECIMAL},
      </if>
      <if test="pcd != null">
        #{pcd,jdbcType=VARCHAR},
      </if>
      <if test="cb != null">
        #{cb,jdbcType=DECIMAL},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=DECIMAL},
      </if>
      <if test="facSendQuant2 != null">
        #{facSendQuant2,jdbcType=DECIMAL},
      </if>
      <if test="fromType != null">
        #{fromType,jdbcType=VARCHAR},
      </if>
      <if test="wheelSize != null">
        #{wheelSize,jdbcType=DECIMAL},
      </if>
      <if test="sumecCode != null">
        #{sumecCode,jdbcType=VARCHAR},
      </if>

      <if test="commUnit != null">
        #{commUnit,jdbcType=DECIMAL},
      </if>
      <if test="commUnitPack != null">
        #{commUnitPack,jdbcType=DECIMAL},
      </if>
      <if test="commUnitStat != null">
        #{commUnitStat,jdbcType=DECIMAL},
      </if>
      <if test="commQuantStat != null">
        #{commQuantStat,jdbcType=DECIMAL},
      </if>
      <if test="packRate != null">
        #{packRate,jdbcType=DECIMAL},
      </if>
      <if test="statRate != null">
        #{statRate,jdbcType=DECIMAL},
      </if>
      <if test="tariffRate != null">
        #{tariffRate,jdbcType=DECIMAL},
      </if>
      <if test="exciseRate != null">
        #{exciseRate,jdbcType=DECIMAL},
      </if>
      <if test="objPrice != null">
        #{objPrice,jdbcType=DECIMAL},
      </if>
      <if test="commUnit2 != null">
        #{commUnit2,jdbcType=DECIMAL},
      </if>
      <if test="commQuantPack != null">
        #{commQuantPack,jdbcType=DECIMAL},
      </if>
      <if test="incomeAmt != null">
        #{incomeAmt,jdbcType=DECIMAL},
      </if>
      <if test="incomeCurrType != null">
        #{incomeCurrType,jdbcType=VARCHAR},
      </if>
      <if test="commAmt != null">
        #{commAmt,jdbcType=DECIMAL},
      </if>
      <if test="isLogi != null">
        #{isLogi,jdbcType=VARCHAR},
      </if>
      <if test="incomePrice != null">
        #{incomePrice,jdbcType=DECIMAL},
      </if>
      <if test="isThirdInspect != null">
        #{isThirdInspect,jdbcType=VARCHAR},
      </if>
      <if test="hsCode != null">
        #{hsCode,jdbcType=VARCHAR},
      </if>
      <if test="isNeedInspect != null">
        #{isNeedInspect,jdbcType=VARCHAR},
      </if>
      <if test="commNameEn != null">
        #{commNameEn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sumec.contract.entity.TExpBcCmd">
    update T_EXP_BC_CMD
    <set>
      <if test="bcId != null">
        BC_ID = #{bcId,jdbcType=DECIMAL},
      </if>
      <if test="cNo != null">
        C_NO = #{cNo,jdbcType=VARCHAR},
      </if>
      <if test="pNo != null">
        P_NO = #{pNo,jdbcType=VARCHAR},
      </if>
      <if test="pOrder != null">
        P_ORDER = #{pOrder,jdbcType=DECIMAL},
      </if>
      <if test="techNo != null">
        TECH_NO = #{techNo,jdbcType=VARCHAR},
      </if>
      <if test="customerNo != null">
        CUSTOMER_NO = #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        BRAND = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="pName != null">
        P_NAME = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pDesc != null">
        P_DESC = #{pDesc,jdbcType=VARCHAR},
      </if>
      <if test="pUnit != null">
        P_UNIT = #{pUnit,jdbcType=VARCHAR},
      </if>
      <if test="pQuant != null">
        P_QUANT = #{pQuant,jdbcType=DECIMAL},
      </if>
      <if test="taxPrice != null">
        TAX_PRICE = #{taxPrice,jdbcType=DECIMAL},
      </if>
      <if test="realCostPrice != null">
        REAL_COST_PRICE = #{realCostPrice,jdbcType=DECIMAL},
      </if>
      <if test="pUnit2 != null">
        P_UNIT2 = #{pUnit2,jdbcType=VARCHAR},
      </if>
      <if test="pQuant2 != null">
        P_QUANT2 = #{pQuant2,jdbcType=DECIMAL},
      </if>
      <if test="taxPrice2 != null">
        TAX_PRICE2 = #{taxPrice2,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null">
        TAX_RATE = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="nNo != null">
        N_NO = #{nNo,jdbcType=VARCHAR},
      </if>
      <if test="deliD != null">
        DELI_D = #{deliD,jdbcType=TIMESTAMP},
      </if>
      <if test="isPriceFix != null">
        IS_PRICE_FIX = #{isPriceFix,jdbcType=VARCHAR},
      </if>
      <if test="priceLimit != null">
        PRICE_LIMIT = #{priceLimit,jdbcType=DECIMAL},
      </if>
      <if test="facCode != null">
        FAC_CODE = #{facCode,jdbcType=VARCHAR},
      </if>
      <if test="pPrice != null">
        P_PRICE = #{pPrice,jdbcType=DECIMAL},
      </if>
      <if test="pPrice2 != null">
        P_PRICE2 = #{pPrice2,jdbcType=DECIMAL},
      </if>
      <if test="standardNo != null">
        STANDARD_NO = #{standardNo,jdbcType=VARCHAR},
      </if>
      <if test="isProm != null">
        IS_PROM = #{isProm,jdbcType=VARCHAR},
      </if>
      <if test="is2unit != null">
        IS_2UNIT = #{is2unit,jdbcType=VARCHAR},
      </if>
      <if test="subId != null">
        SUB_ID = #{subId,jdbcType=DECIMAL},
      </if>
      <if test="erpNo != null">
        ERP_NO = #{erpNo,jdbcType=VARCHAR},
      </if>
      <if test="treatyId != null">
        TREATY_ID = #{treatyId,jdbcType=DECIMAL},
      </if>
      <if test="scPId != null">
        SC_P_ID = #{scPId,jdbcType=DECIMAL},
      </if>
      <if test="treatyNo != null">
        TREATY_NO = #{treatyNo,jdbcType=VARCHAR},
      </if>
      <if test="pRate != null">
        P_RATE = #{pRate,jdbcType=DECIMAL},
      </if>
      <if test="cutDate != null">
        CUT_DATE = #{cutDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pDesc2 != null">
        P_DESC2 = #{pDesc2,jdbcType=VARCHAR},
      </if>
      <if test="facSendQuant != null">
        FAC_SEND_QUANT = #{facSendQuant,jdbcType=DECIMAL},
      </if>
      <if test="commId != null">
        COMM_ID = #{commId,jdbcType=DECIMAL},
      </if>
      <if test="proCmdId != null">
        PRO_CMD_ID = #{proCmdId,jdbcType=DECIMAL},
      </if>
      <if test="proId != null">
        PRO_ID = #{proId,jdbcType=DECIMAL},
      </if>
      <if test="proType != null">
        PRO_TYPE = #{proType,jdbcType=VARCHAR},
      </if>
      <if test="cmdType != null">
        CMD_TYPE = #{cmdType,jdbcType=VARCHAR},
      </if>
      <if test="nW != null">
        N_W = #{nW,jdbcType=DECIMAL},
      </if>
      <if test="et != null">
        ET = #{et,jdbcType=DECIMAL},
      </if>
      <if test="pcd != null">
        PCD = #{pcd,jdbcType=VARCHAR},
      </if>
      <if test="cb != null">
        CB = #{cb,jdbcType=DECIMAL},
      </if>
      <if test="color != null">
        COLOR = #{color,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        ITEM_ID = #{itemId,jdbcType=DECIMAL},
      </if>
      <if test="facSendQuant2 != null">
        FAC_SEND_QUANT2 = #{facSendQuant2,jdbcType=DECIMAL},
      </if>
      <if test="fromType != null">
        FROM_TYPE = #{fromType,jdbcType=VARCHAR},
      </if>
      <if test="wheelSize != null">
        WHEEL_SIZE = #{wheelSize,jdbcType=DECIMAL},
      </if>
      <if test="sumecCode != null">
        SUMEC_CODE = #{sumecCode,jdbcType=VARCHAR},
      </if>

      <if test="commUnit != null">
        COMM_UNIT = #{commUnit,jdbcType=DECIMAL},
      </if>
      <if test="commUnitPack != null">
        COMM_UNIT_PACK = #{commUnitPack,jdbcType=DECIMAL},
      </if>
      <if test="commUnitStat != null">
        COMM_UNIT_STAT = #{commUnitStat,jdbcType=DECIMAL},
      </if>
      <if test="commQuantStat != null">
        COMM_QUANT_STAT = #{commQuantStat,jdbcType=DECIMAL},
      </if>
      <if test="packRate != null">
        PACK_RATE = #{packRate,jdbcType=DECIMAL},
      </if>
      <if test="statRate != null">
        STAT_RATE = #{statRate,jdbcType=DECIMAL},
      </if>
      <if test="tariffRate != null">
        TARIFF_RATE = #{tariffRate,jdbcType=DECIMAL},
      </if>
      <if test="exciseRate != null">
        EXCISE_RATE = #{exciseRate,jdbcType=DECIMAL},
      </if>
      <if test="objPrice != null">
        OBJ_PRICE = #{objPrice,jdbcType=DECIMAL},
      </if>
      <if test="commUnit2 != null">
        COMM_UNIT2 = #{commUnit2,jdbcType=DECIMAL},
      </if>
      <if test="commQuantPack != null">
        COMM_QUANT_PACK = #{commQuantPack,jdbcType=DECIMAL},
      </if>
      <if test="incomeAmt != null">
        INCOME_AMT = #{incomeAmt,jdbcType=DECIMAL},
      </if>
      <if test="incomeCurrType != null">
        INCOME_CURR_TYPE = #{incomeCurrType,jdbcType=VARCHAR},
      </if>
      <if test="commAmt != null">
        COMM_AMT = #{commAmt,jdbcType=DECIMAL},
      </if>
      <if test="isLogi != null">
        IS_LOGI = #{isLogi,jdbcType=VARCHAR},
      </if>
      <if test="incomePrice != null">
        INCOME_PRICE = #{incomePrice,jdbcType=DECIMAL},
      </if>
      <if test="isThirdInspect != null">
        IS_THIRD_INSPECT = #{isThirdInspect,jdbcType=VARCHAR},
      </if>
      <if test="hsCode != null">
        HS_CODE = #{hsCode,jdbcType=VARCHAR},
      </if>
      <if test="isNeedInspect != null">
        IS_NEED_INSPECT = #{isNeedInspect,jdbcType=VARCHAR},
      </if>
      <if test="commNameEn != null">
        COMM_NAME_EN = #{commNameEn,jdbcType=VARCHAR},
      </if>
    </set>
    where P_ID = #{pId,jdbcType=DECIMAL}
  </update>
  
</mapper>